* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: rgb(16, 16, 16);
}

.material-icons:hover {
    cursor: pointer;
}

.pt-2 {
    padding-top: 20px !important;
}

.pr-2 {
    padding-right: 20px !important;
}

.pb-2 {
    padding-bottom: 20px !important;
}

.pl-2 {
    padding-left: 20px !important;
}

h5.title {
    margin-top: 0;
}

.playbox {
    padding: 10px;
}

.play_content, .show_channel {
    cursor: pointer;
}

#searchInput {
    color: rgb(231, 227, 227);
}

#contentContainer {
    position: relative;
}

#contentBox {
    position: absolute;
    top: 0;
    right: 150%;
    bottom: 0;
    left: auto;
    width: 100%;
    height: 100%;
    transition: 0.33s;
    z-index: 9999999999;
}

#contentBox iframe {
    width: 100%;
    height: auto;
}

a {
    color: rgb(22, 86, 143);
}

.material-icons-holders {
    visibility: hidden;
}

/* #contentBox:hover .material-icons-holders,
.material-icons-holders:hover {
    visibility: visible;
} */